<div class="must-watch-container mb-4">
  <div class="heading text-uppercase text-white mb-3">
    {{ header }}
  </div>
  <form [formGroup]="recommendedForm" *ngIf="showCategoriesFilter">
    <div class="d-flex flex-wrap categories mb-3">
      <ng-container formArrayName="categories">
        <div
          class="rounded-pill px-4 py-2 text-white categories-pill d-flex align-items-center"
          *ngFor="let category of categories.controls; let index = index"
          (click)="selectItem(category)"
          [formGroupName]="index"
          role="button"
          [class.active]="category.value.value"
        >
          {{ category.value.name }}
        </div>
      </ng-container>
    </div>
  </form>
  <div class="slider d-flex flex-wrap">
    <app-movie-card
      *ngFor="let movie of movies"
      [movie]="movie"
    ></app-movie-card>
  </div>
</div>
