<div class="d-flex justify-content-start footer-container pt-5 pb-5">
  <div class="footer-block">
    <div class="footer-block-header mb-2 text-uppercase">Navigation</div>
    <p>Home</p>
  </div>
  <div class="footer-block">
    <div class="footer-block-header mb-2 text-uppercase">Legal</div>
    <p>Privacy Policy</p>
    <p>Tearm of Services</p>
  </div>
  <div class="footer-block">
    <div class="footer-block-header mb-2 text-uppercase">Talk to us</div>
    <p>rohitsalujafortesting@gmail.com</p>
    <p>+9999999999</p>
  </div>
  <div class="footer-block ms-auto">
    <div class="footer-block-header text-uppercase mb-2">Follow us</div>
    <div class="social-icons d-flex gap-2">
      <div class="rounded-circle">
        <img src="assets/images/facebook-icon.png" />
      </div>
      <div class="rounded-circle">
        <img src="assets/images/linkedin-icon.png" />
      </div>
      <div class="rounded-circle">
        <img src="assets/images/twitter-icon.png" />
      </div>
    </div>
  </div>
</div>
