.banner-container {
  height: 500px;
  img {
    top: -244px;
  }
  .banner-content {
    top: 100px;
    left: 100px;
    color: #ffffff;
    width: 510px;
    .header-title {
      font-size: 40px;
      font-weight: 1000;
      line-height: 1;
    }
    .genere {
      font-size: 18px;
      color: var(--genere-red);
    }
    .buttons-section {
      font-weight: 800;
      .button-watch {
        background-color: var(--dark-purple);
      }
      .button-mylist {
        background-color: var(--dark-grey);
      }
    }
    .imdb-section {
      .imdb-text-count {
        color: var(--yellow);
        font-weight: 700;
      }
      .ua {
        font-size: 18px;
        font-weight: 500;
        padding: 0 5px;
      }
      .year {
        font-size: 20px;
        font-weight: 700;
        color: #959595;
      }
    }
  }
}
