<div class="banner-container overflow-hidden w-100 position-relative">
  <img
    *ngIf="movie.bannerImage"
    src="assets/images/{{ movie.bannerImage }}"
    class="w-100 object-fit-fill position-absolute"
  />
  <div class="banner-content position-absolute">
    <div class="header-title mb-3">{{ movie.name }}</div>
    <div class="content-text-area mb-3">
      {{ movie.description }}
    </div>
    <div class="genere mb-3" *ngIf="movie.generes!.length">
      <div class="genere-heading text-uppercase">generes</div>
      <div class="genere-label text-white">{{ movie.generes!.join(", ") }}</div>
    </div>
    <div class="buttons-section d-flex gap-3 mb-3">
      <span
        class="d-flex align-items-center justify-content-center px-3 py-2 rounded-pill text-white button-watch text-uppercase gap-2"
        role="button"
      >
        <span>Watch</span>
        <span class="material-icons"> play_arrow </span>
      </span>
      <span
        *ngIf="false"
        class="d-flex align-items-center justify-content-center px-3 py-2 rounded-pill text-white button-mylist text-uppercase gap-2"
        role="button"
      >
        <span>My List</span>
        <span class="material-symbols-outlined"> add </span>
      </span>
    </div>
    <div class="imdb-section d-flex gap-3 align-items-center mb-3">
      <img src="assets/images/imdb-large-icon.png" />
      <span class="imdb-text-count">{{ movie.rating }}</span>
      <div class="ua rounded border border-white text-white">U/A</div>
      <div class="ua rounded border border-white text-white">4K</div>
      <div class="year">{{ movie.rating }}</div>
    </div>
    <div class="genere mb-3" *ngIf="movie.audio">
      <div class="genere-heading text-uppercase">Audio</div>
      <div class="genere-label text-white">{{ movie.audio | titlecase }}</div>
    </div>
    <div class="genere mb-3" *ngIf="movie.subtitles!.length">
      <div class="genere-heading text-uppercase">Subtitles</div>
      <div class="genere-label text-white">
        {{ movie.subtitles!.join(", ") }}
      </div>
    </div>
  </div>
</div>
