<div class="d-flex p-2 main-header-container">
  <div class="navigation-links p-1 d-flex align-items-center">
    <img
      src="/assets/images/logo.png"
      [routerLink]="['']"
      class="cursor-pointer"
    />
    <div
      class="navigation-link active text-uppercase cursor-pointer"
      [routerLink]="['']"
      [routerLinkActive]="['active']"
    >
      home
    </div>
    <div class="navigation-link text-uppercase cursor-pointer">tv show</div>
    <div class="navigation-link text-uppercase cursor-pointer">movies</div>
    <div class="navigation-link text-uppercase cursor-pointer">new</div>
  </div>
  <div class="navigation-search p1 d-flex ms-auto align-items-center gap-2">
    <div
      class="search-input d-flex align-items-center rounded-pill justify-content-center px-2 py-1"
    >
      <input type="text" placeholder="SEARCH" />
      <span class="material-icons-outlined"> search </span>
    </div>
    <span class="material-icons-outlined cursor-pointer"> redeem </span>
    <span class="material-icons-outlined cursor-pointer"> notifications </span>
    <span class="material-icons-outlined cursor-pointer"> person </span>
  </div>
</div>
