<div class="d-flex p-2 main-header-container">
  <div class="navigation-links p-1 d-flex align-items-center">
    <img
      src="/assets/images/logo.png"
      [routerLink]="['']"
      class="cursor-pointer"
      role="button"
    />
    <div
      class="navigation-link active text-uppercase cursor-pointer"
      [routerLink]="['']"
      [routerLinkActive]="['active']"
      role="button"
    >
      home
    </div>
    <div class="navigation-link text-uppercase cursor-pointer" role="button">
      tv show
    </div>
    <div class="navigation-link text-uppercase cursor-pointer" role="button">
      movies
    </div>
    <div class="navigation-link text-uppercase cursor-pointer" role="button">
      new
    </div>
  </div>
  <div
    class="navigation-search p1 d-flex ms-auto align-items-center gap-2 position-relative"
  >
    <div
      class="search-input d-flex align-items-center rounded-pill justify-content-center px-2 py-1"
    >
      <input type="text" placeholder="SEARCH" />
      <span class="material-icons-outlined"> search </span>
    </div>
    <span class="material-icons-outlined cursor-pointer" role="button">
      redeem
    </span>
    <span class="material-icons-outlined cursor-pointer" role="button">
      notifications
    </span>
    <span
      class="material-icons-outlined cursor-pointer"
      role="button"
      (click)="showUserProfilePopup = !showUserProfilePopup"
    >
      person
    </span>
    <div
      class="position-absolute user-profile-popup"
      *ngIf="showUserProfilePopup"
    >
      <span class="user-welcome">Welcome, {{ user.name }}</span>
      <div class="d-flex justify-content-end">
        <button mat-button color="warn" (click)="logout()">Logout</button>
      </div>
    </div>
  </div>
</div>
